<h1>Welcome</h1>

<%= form_with(url: root_path, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :nickname %>
    <%= form.text_area :nickname, class: "form-control", placeholder: 'your name (limit 20)' %>
  </div>

  <div class="actions">
    <%= form.submit 'Enter', class: 'btn btn-dark' %>
  </div>
<% end %>
