<%= form_with(url: root_path, local: true) do |form| %>
  <% if @error %>
    <div class="ui row huge input error">
      <%= form.text_field :nickname, placeholder: 'Your name is...' %>
    </div>
    <div class="ui left pointing red basic label">
      limit 20
    </div>
  <% else %>
    <div class="ui row huge input">
      <%= form.text_field :nickname, placeholder: 'Your name is...' %>
    </div>
  <% end %>

  <div class="row" style="margin-top:16px">
    <%= form.submit 'Enter', class: 'ui secondary huge button' %>
  </div>
<% end %>
