<div class="ui row message">
  <div class="header">
    <%= "Editing this book." %>
  </div>
</div>

<div class="ui row"><%= render 'form', book: @book %></div>

<div class="ui buttons">
  <%= link_to '◀︎ Back', books_url, class: 'ui button' %>
  <%= link_to 'Show', @book, class: 'ui button' %>
</div>
